<h1>Your Songs</h1>
<table>
  <thread>
    <tr>
      <th>
        Song Title
      </th>
    </tr>
  </thread>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%=song.title%></td>
      <td><%=link_to "Show Song",song%></td>
      <td><%=link_to "Edit Song",edit_song_path(song)%></td>
      <td><%=link_to "Destroy Song",song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
